body {
  color: rgb(128, 128, 128);
}

.navbar-nav {
  line-height: 1.5;
  padding-top: 2px;
}
.navbar-nav li {
  list-style: none;
}

.nav-item {
  font-size: 20px;
  padding: 0 25px;
}
.social-icon {
  top: 10px;
  right: 20px;
  padding: 0;
  margin: 1px 0 0 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  text-decoration: none;
  color: #2d2a2a;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 10px;
  text-align: center;
}

.social-icon li a:hover {
  color: #f16b11;
}
/* .hero-img {
  height: 80vh;
} */
.hero {
  /* Set a specific height */
  /* height: 100vh; */
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.intro {
  padding: 20px;
}

h1 {
  margin: 40px 0;
}
h4 {
  margin: 20px 0;
}

h5 {
  margin: 20px 0;
}

.prototype {
  color: #f16b11;
}
.process,
.next {
  margin-top: 20px;
}

.next {
  margin-bottom: 40px;
}
.intro li {
  list-style: none;
  margin: 0;
}
li {
  list-style-type: disc;
  margin-left: 40px;
}

.content {
  margin-top: 20px;
}

.img {
  margin-bottom: 40px;
  width: 90%;
}

.ia,
.lo,
.vd {
  width: 100%;
}
/* Contact styling */
#contact {
  padding-top: 30px;
  background-color: #f2f2ec;
}
section .contact {
  text-align: center;

  margin: 0 40px;
}

#contact p,
#contact h3 {
  text-align: center;
  margin-top: 20px;

  color: rgb(108, 107, 107);
}

.contact i {
  font-size: 50px;
  margin-bottom: 50px;
}

.contact i:hover {
  color: #f16b11;
  font-size: 70px;
}
.contact a {
  color: #6f6a6a;
}

.log button {
  margin-left: 20px;
}
/* Footer Styling */

footer p {
  text-align: center;
  color: #b8b6b1;
  margin-top: 20px;
}

@media only screen and (max-width: 992px) {
  /* .hero {
    height: 100vh;
  } */

  .img {
    width: 90%;
  }

  .ia,
  .lo,
  .vd {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .hero {
    height: 350px;
  }
}
