/* header {
  height: 100vh;
} */

/* Navigation Styles */

.navbar-nav {
  line-height: 1.5;
  /* padding-top: 2px;  */
}

.nav-item {
  font-size: 20px;
  padding: 0 20px;
}
.social-icon {
  top: 10px;
  right: 20px;
  padding: 0;
  margin: 1px 0 0 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  text-decoration: none;
  color: #2d2a2a;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 10px;
  text-align: center;
}

.social-icon li a:hover {
  color: #63a6a8;
}

.main {
  margin: auto 0;
}

.title h1 {
  color: rgb(128, 128, 128);
  font-size: 40px;
}

.title .developer {
  color: rgb(128, 128, 128);
  font-size: 25px;
}
.title {
  margin-bottom: 40px;
}

.developer:hover {
  color: #63a6a8;
}

.intro p {
  color: rgb(128, 128, 128);
  font-size: 20px;
  text-align: center;
}
.title p {
  color: rgb(128, 128, 128);
  font-size: 20px;
}

.title img {
  width: 400px;
}
.logo .mern img {
  width: 20px;
}

/* About Section & Skills */

.about-skills h2 {
  /* padding-bottom: px; */
  margin-top: 20px;
  color: #2d2a2a;
  text-align: center;
  color: #6f6a6a;
  padding-top: 40px;
}
.about {
  padding: 0 50px;
  margin: 0 20px;
}

.skills-list {
  /* font-size: 22px; */
  color: #6f6a6a;
}
.about p {
  padding-right: 20px;
  width: 90%;
  font-size: 22px;
  color: #6f6a6a;
}

.background {
  margin: 10px 5px;
  padding: 10px;
  background-color: #6ba3a4;
}

.paint {
  font-size: 25px;
  color: #6f6a6a;
}
.skills {
  background-color: #f2f2ec;
}
.skills i {
  font-size: 20px;
  padding-right: 50px;
  margin-bottom: 30px;
  margin: 0 auto;
}

.skill-title {
  text-align: center;
  color: #6f6a6a;
  margin: 10px 0;
  border-bottom: 1px solid #6f6a6a;
  margin-bottom: 20px;
}

.skill-title p,
.skill-title + p {
  font-size: 25px;
  color: #6f6a6a;
}

.backend i,
.frontend i,
.dev i {
  font-size: 60px;
  margin: 0 auto;
  color: #94bdb3;
}
/* Portfolio styling */

/* .portfolio {
  margin: 2rem 0;
} */

.portfolio .card {
  width: 20rem;
  margin: 5px auto;
}

.portfolio img {
  margin-top: 20px;
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(108, 107, 107);
}

.portfolio a,
.gitlink a {
  color: #63a6a8;
}

.portfolio a:hover {
  color: #fefefe;
}
.gitlink {
  text-align: center;
  margin-top: 20px;
  color: #555454;
}

.background p,
.background h2 {
  color: #ffffff;
}
/* Contact styling */
#contact {
  padding-top: 30px;
  background-color: #f2f2ec;
}
section .contact {
  text-align: center;

  margin: 0 40px;
}

#contact p,
#contact h3 {
  text-align: center;
  margin-top: 20px;

  color: rgb(108, 107, 107);
}

.contact i {
  font-size: 50px;
  margin-bottom: 50px;
}

.contact i:hover {
  color: #63a6a8;
  /* font-size: 52px; */
}
.contact a {
  color: #6f6a6a;
}

.log button {
  margin-left: 20px;
}
/* Footer Styling */

footer p {
  text-align: center;
  color: #6f6a6a;
  margin-top: 20px;
}

@media only screen and (max-width: 992px) {
  .portfolio {
    margin-top: 20rem;
  }

  img.avatar2 {
    /* visibility: hidden; */
    display: none;
  }
  /* .contact {
    margin-bottom: -50px;
  } */

  .ava-container {
    text-align: center;
  }

  /* img.avatar1 { */
  /* border-radius: 100%; */
  /* object-fit: cover; */
  /* object-position: 0 1px; */
  /* width: 300px;
    height: 350px; */
  /* overflow: hidden; */
  /* margin: 50px 0 0 0; */
  /* } */

  .skills {
    text-align: center;
  }

  .backend i,
  .frontend i,
  .dev i {
    padding: 5px;
    margin-bottom: 5px;
  }

  .portfolio {
    margin: 4rem 0;
    padding: 10px 0;
  }

  .contact i {
    margin-bottom: 10px;
  }

  form.log {
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .frontend i,
  .backend i {
    font-size: 80px;
  }

  .dev i {
    font-size: 60px;
  }

  .background {
    width: 80%;
    margin: 3px auto;
    padding: 0;
  }

  .hide {
    visibility: hidden;
  }
}
