/* header {
  height: 100vh;
} */

/* Navigation Styles */

.navbar-nav {
  line-height: 1.5;
  padding-top: 2px;
}

.nav-item {
  font-size: 20px;
  padding: 0 25px;
}
.social-icon {
  top: 10px;
  right: 20px;
  padding: 0;
  margin: 1px 0 0 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  text-decoration: none;
  color: #2d2a2a;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 10px;
  text-align: center;
}

.social-icon li a:hover {
  color: #f16b11;
}

.main {
  margin: auto 0;
}

.title h1 {
  color: rgb(128, 128, 128);
  font-size: 80px;
}

.title .developer {
  color: rgb(128, 128, 128);
  font-size: 40px;
}

.developer:hover {
  color: #f16b11;
}
.title p {
  color: rgb(128, 128, 128);
  font-size: 20px;
}

.title img {
  width: 200px;
}
.logo .mern img {
  width: 20px;
}

/* About Section & Skills */

.hidden {
  display: none;
}
.about-skills {
  padding: 20px;
  margin: 50px 0;
  padding: 100px 0;
  background-color: #f2f2ec;
}

.about-skills h2 {
  padding-bottom: 20px;
  color: #2d2a2a;
  text-align: center;
}
.about {
  padding: 0 50px;
  margin: 0 20px;
}

.about p {
  padding-right: 20px;
  width: 90%;
  font-size: 22px;
  color: #6f6a6a;
}

.background {
  background-color: rgba(230, 230, 230, 0.8);
  margin: 5px;
  padding: 50px;
}
.skills i {
  font-size: 30px;
  padding-right: 50px;
  margin-bottom: 30px;
  margin: 0 auto;
}

.skill-title {
  color: #6f6a6a;
  margin: 10px 0;
  border-bottom: 1px solid #6f6a6a;
  margin-bottom: 20px;
}

.skill-title p,
.skill-title + p {
  font-size: 30px;
  color: #6f6a6a;
}

.backend i,
.frontend i,
.dev i {
  font-size: 60px;
  margin: 0 auto;
  color: #94bdb3;
}
/* Portfolio styling */

.portfolio {
  margin: 8rem 0;
  padding: 30px 0;
}

.portfolio .card {
  width: 20rem;
  margin: 5px auto;
}

.portfolio img {
  margin-top: 20px;
  /* border: 2px solid #e1dfda; */
  /* width: 440px; */
  /* height: 350px; */
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 50px;
  color: rgb(108, 107, 107);
}

/* Contact styling */
#contact {
  padding-top: 30px;
  background-color: #f2f2ec;
}
section .contact {
  text-align: center;
  margin-top: 50px;
}

#contact p,
#contact h3 {
  text-align: center;
  margin-top: 20px;
  color: rgb(108, 107, 107);
}

.contact i {
  font-size: 80px;
}

.contact i:hover {
  color: #f16b11;
  font-size: 100px;
}
.contact a {
  /* padding: 20px 0; */
  color: #6f6a6a;
  margin-bottom: 0;
}

.contact img {
  width: 200px;
}
/* Footer Styling */

footer p {
  text-align: center;
  color: #b8b6b1;
  margin-top: 20px;
}

@media only screen and (max-width: 992px) {
  .portfolio {
    margin-top: 20rem;
  }

  .avatar2 {
    visibility: hidden;
    display: none;
  }
  /* .contact {
    margin-bottom: -50px;
  } */

  .ava-container {
    text-align: center;
  }

  img.avatar1 {
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 1px;
    width: 300px;
    height: 350px;
    overflow: hidden;
    margin: 50px 0 0 0;
  }

  .skills {
    text-align: center;
  }

  .backend i,
  .frontend i,
  .dev i {
    padding: 5px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 767px) {
  .backend i,
  .frontend i,
  .dev i {
    font-size: 100px;
  }

  .hide {
    visibility: hidden;
  }
}
